<div class="big-c">
  <div class="new-video-container">
    <h1>Create a trailer for your room</h1>
    <div class="room-form-container">
      <%= simple_form_for @room, class: "room-form" do |f| %>
        <p><strong>Room ID:</strong></p>
        <%= f.input :name %>
        <%= f.button :submit, "Create!" %>
      <% end %>
    </div>
  </div>
</div>
